nav{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: rgb(31, 75, 13);
    z-index: 1005;
    box-shadow: 0 2px 5px rgba(rgb(53, 49, 49), rgb(0, rgba(50, 50, 223, 0.229)), blue, alpha);
    border: 2px solid black;
    border-radius: 10px;
    border-top: none;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(57, 57, 56);
}
html {
  scroll-behavior: smooth;
}

section{
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    overflow: visible ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    position: relative;
    overflow:    visible;
}

th {
    background-color: #ffcccb;
    color: #333;
}

td img {
    display: block;
    margin: auto;
    border-radius: 5px;
}

h1{
    color: #031b08;
    text-align: center;
}
.fortuneflowermain{
    text-align: center;
}
p{
    text-align: center;
}

.balloons img{
    height: 50px;
    float: right;
}
.funeral img{
    height: 50px;
    float: right;
}
.photoweb img{
    height: 50px;
    float: right;
}
ul {
    list-style-type: square;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}

ul li {
    margin: 5px 0;
}
.flowers{
    transition:  transform 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
}
.flowers:hover{
    object-fit: cover;
    transform: scale(3.3);
    z-index: 10;
}
.icon{
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.texticon{
    font-size: 60px;
    line-height: 0.1;
    top: -50px;
    margin-top: 5%;
    margin-left: 0%;
}
@font-face {
    font-family: myFont;
    src: url(Stowaway[1].ttf);
}
p{
    font-family: myFont;
}
.elfsight-app-6fd0ed8e-f03d-4650-9540-02388b474025{
   content: left;
}
.seasontext1{
    text-align: center;
    align-self: center;
}
.footer_img{
    text-align: center;
}
.aboutus{
    clear: both;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
.aboutustext{
    width: 100%;
    margin:0 0 5% auto;
}
.infotext{
    color: rgb(11, 13, 16);
}
.gmailcolor{
    color: #090638;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.modalopen{
    opacity: 60%;
}
.modalcontent{
    color: #ddd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 350px;
    position: relative;
    border-radius: 4%;
}
.close{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.btncss{
    background-color: transparent;
    border: none;
    color: rgb(50, 100, 195);
    font-size: x-large;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 49%;
    top: 270%;
    text-decoration: underline;
}
.btncss:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rightsres{
    text-align: center;
}
.movingtext{
    background-color: aquamarine;
    color: black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.moving{
    animation: textobject 13000s linear infinite;
    display: inline-block;
}
.movingobject{
    display: inline-block;
    padding-right: 50px;
}
@keyframes textobject{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-250%);
    }
}
.inputmessage{
    width: 90%;
    height: 140px;
    position: center;
    align-items: center;
    background: linear-gradient(to right, #0cc660,#0a66a8);
    border-radius: 5px;
} 
input::placeholder{
  color: rgb(0, 0, 0);
  font-size: large;
}
.textname{
    width: 90%;
    height: 30px;
    position: center;
    align-items: center;
    background: linear-gradient(to right, #0cc660,#0a66a8);
    border-radius: 5px;
}
.textemail{
    width: 90%;
    height: 30px;
    position: center;
    align-items: center;
    background: linear-gradient(to right, #0cc660,#0a66a8);
    border-radius: 5px;
}
.orderclass{
    color: #15e4ff;
    font-size: large;
}
.contacttext{
    align-items: center;
    align-content: center;
    text-align: center;
    position: center;
}
.MessageText{
    align-items: center;
    text-align: center;
    width: 100%;
}
.classsubmit{
   width: 16%;
   margin: 15px auto 0;
   background: linear-gradient(to right, #0cc660,#0a66a8);
   color: white;
   border: none;
   border-radius: 30px;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0 4px 15px rgba(0,0,0 ,2);
   transition: 0.3s ease;
}
.classsubmit:hover{
    background: linear-gradient(to right, #25563b, #1e3647);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 2);
}
.classsubmit:active{
    transform: translateY(2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 2);
}
.successpopout{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 2);
    z-index: 1000;
}
input{
    width: 100%;
    box-sizing: border-box;
}
.madeant{
    text-align: center;
    align-items: center;
}
.mainheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 1000;
}
.logocontainer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 3% auto;
}
.logo {
    width: 90px;
    height: 80px;
    object-fit: contain;
}

/* Текст логотипа */
.logotext {
    font-family: myFont;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}
.menu-toggle{
    display:none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}
@media(max-width:768px){
    nav ul{
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(31, 75, 13);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: none;
        border-radius: 13px;
        border: 3px solid black;
        border-top: none;
    }
    nav ul.show{
        display: flex;

    }
    nav ul li{
        margin: 10px 20px;
    }
    .menu-toggle{
        display: block;
       font-family: myFont;
        src: url(Stowaway[1].ttf);
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}
